html {box-sizing: border-box;}

*, *:after, *:before {box-sizing: inherit;}

a {
    text-decoration: none;
}

.sidebar_links {
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
    font-family: 'Droid Serif', serif;
    color: white;
    text-align: center;
    margin-right: 281px;
    transition: 1s;
    width: 160px;
}
.sidebar_links:hover {
    border-bottom: 3px solid #fff;
    border-top: 3px solid #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
    font-family: 'Droid Serif', serif;
    color: white;
    text-align: center;
    margin-right: 281px;
    transition: 1s; 
    border-radius: 40px;
    width: 160px;
}

.container_home {
	width: 1000px;
	display: flex;
    flex-wrap: wrap;
	margin-left: 50px;
}

.quote {
	margin-top: 18px;
	float: left;
	font-size: 12px;
	font-family: cursive;
	padding-left: 10px;

}

.button_icons {
   width: 100px;
   height: 100px;
   color: white;
   border: none;
   box-shadow: none;
   background: none;
   margin-right: 10px;
   transition: .5s;
   outline: none;
}

.button_icons:active {
   width: 100px;
   height: 100px;
   color: white;
   border: none;
   box-shadow: none;
   background: none;
   margin-right: 10px;
   transition: .5s;
}

.header_home {
	width: 100%;
    height: 100px;
    background-color: #a50005;
    color: white;
    text-align: center;
    font-size: 45px;
    font-family: 'Lora';
    padding-top: 25px;

}
#batchmaker {
    margin: 0px;

}
.sidebar_nav {
	width: 250px;
	height: 500px;
	background-color: #34373d;
	color: #000;
	float: left;
}

.header_ul {
	right: 0;
    top: -40px;
    position: absolute;
    list-style: none;
    padding-left: 0px;
    display: inline-flex;
    float: right;
}

.sidebar_nav_list {
	list-style: none;
	text-align: center;
	margin-top: 10px;
}

.sidebar_nav_list > li {
	padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
    font-family: 'Droid Serif', serif;
    color: white;
    text-align: center;
    margin-right: 281px;
    transition: 1s;
    width: 160px;

}

.sidebar_nav_list > li:hover {
	border-bottom: 3px solid #fff;
	border-top: 3px solid #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 22px;
	font-family: 'Droid Serif', serif;
	color: white;
	text-align: center;
	margin-right: 281px;
	transition: 1s; 
	border-radius: 40px;
	width: 160px;

}

i.fa.fa-plus::before {
    text-decoration: none;
    font-size: 44px;
    text-align: center;
    line-height: 0px;
}

.recipes_add {
    border: 3px solid #ccc;
    color: white;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px 0 5px 10px;
    background-color: #a50005;
    transition: 0.5s;
    text-align: center;
}
.recipes_add:hover {
    border: 3px solid #ccc;
    width: 200px;
    height: 200px;
    display: inline-block;
    background-color: #ff4f6c;
    color: #a50005;
    text-decoration-color: white;
    text-align: center;
}

.add_text {
	font-size: 40px;
	color: white;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
}

.recipes {
	border: 3px solid #ccc;
	width: 200px;
	height: 200px;
	margin: 10px;
}

.coverphoto {
	width: 200px;
	height: 200px;
	overflow: hidden;
}

.coverphoto:hover {
    opacity: 0.3;
    display: all;
}

.createRecipe{
   	width: 476px;
    float: left;
    margin-left: 260px;
    
}

#basic_info {
	font-family: 'Lora', serif;
	font-size: 30px;
}

#image{
    width: 150px;
    height: 150px;
    float: left;
    outline: none;
    border-radius: 3px;
    text-align: center;
    font-family: 'Droid Serif', serif;
    border-radius: 5px;
}
#name{
    width: 300px;
    height: 45px;
    margin: 0 0 15px 20px;
    outline: none;
    font-family: 'Droid Serif', serif;
    border-radius: 5px;
}
#creator{
    width: 300px;
    height: 45px;
    margin: 0 0 15px 20px;
    outline: none;
    font-family: 'Droid Serif', serif;
    border-radius: 5px;
}
#scope{
    margin: 0 0 15px 20px;
    font-family: 'Droid Serif', serif;
    border-radius: 5px;
}
#mealType{
    width: 150px;
    height: 45px;
    margin: 20px 15px 15px 0;
    outline: none;
    font-family: 'Droid Serif', serif;
    border-radius: 5px;
}
#prep_Time{
    width: 80px;
    height: 45px;
    margin: 0 0 15px 5px;
    outline: none;
    font-family: 'Droid Serif', serif;
    border-radius: 5px;
}
#cook_Time{
    width: 80px;
    height: 45px;
    margin: 0 0 15px 5px;
    outline: none;
    font-family: 'Droid Serif', serif;
    border-radius: 5px;
}
#cook_Temp{
    width: 80px;
    height: 45px;
    margin: 0 0 15px 5px;
    outline: none;
    font-family: 'Droid Serif', serif;
    border-radius: 5px;
}
#degree_Units{
    width:50px;
    height: 45px;
    margin-left: 5px;
    font-family: 'Droid Serif', serif;
    border-radius: 5px;
}
#portion{
    width: 73px;
    height: 45px;
    margin: 0 0 0 10px;
    font-family: 'Droid Serif', serif;
    border-radius: 5px;
    outline: none;
}
.make{
    float:left;
}
#portion_Type{
	width: 225px;
    height: 45px;
    margin: 0 0 0 6px;
    font-family: 'Droid Serif', serif;
    border-radius: 5px;
    outline: none;
}
#amount_Units{
    width: 60px;
    height: 45px;
    margin: 0 0 15px 6px;
    font-family: 'Droid Serif', serif;
    border-radius: 5px;
}
#units{
    width: 150px;
    height: 45px;
    margin: 0 0 15px 6px;
    font-family: 'Droid Serif', serif;
    border-radius: 5px;
}
#ingredient{
    width: 248px;
    height: 45px;
    margin: 0 0 15px 6px;
    font-family: 'Droid Serif', serif;
    border-radius: 5px;
}
#decrease{
    width: 45px;
    height: 45px;
    margin: 0 0 15px 6px;
    font-family: 'Droid Serif', serif;
    border-radius: 10px;
    background-color: #34373d;
    color: white;
    text-align: center;
    font-size: 32px;
}
#increase{
    width: 45px;
    height: 45px;
    margin: 0 0 15px 6px;
    font-family: 'Droid Serif', serif;
    border-radius: 10px;
    background-color: #34373d;
    color: white;
    text-align: center;
    font-size: 32px;
}
#directions{
    width: 476px;
    height: 100px;
    outline: none;
    font-family: 'Droid Serif', serif;
    border-radius: 5px;
    margin-top: 30px;
}

.step {
	font-size: 22px;
	font-family: 'Lora', serif;
}
#addStep{
    margin-right: 40px;
    width: 100px;
    height: 45px;
    font-family: 'Lora', serif;
    border-radius: 5px;
    margin-top: 15px;
    color: white;
    background-color: #34373d;
    border: none;
    transition: 0.5s;
    outline: none;
}
#addStep:hover{
    margin-right: 40px;
    width: 100px;
    height: 45px;
    font-family: 'Lora', serif;
    border-radius: 5px;
    margin-top: 15px;
    color: #34373d;
    background-color: white;
    cursor: pointer;
    border-bottom: 3px solid #34373d;
    border-top: 3px solid #34373d;
    transition: 0.5s;
    border-radius: 40px;
    outline:none;
}
.personal{
    margin-top: 50px;
    font-family: 'Lora', serif;
    font-size: 22px;
}
#personalNotes{
    width: 476px;
    height: 100px;
    outline: none;
    font-family: 'Droid Serif', serif;
    border-radius: 5px;
}
#submit{
	margin-bottom: 10px;
	margin-top: 10px;
    float: right;
	display: inline-block;
	color: white;
	background-color: green;
	border-bottom: 2px solid darkgreen;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 5px;
	width: 100px;
	outline: none;
	font-family: 'Lora', serif;
    clear: both;
}

.cancel {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 260px;
	display: inline-block;
	color: white;
	background-color: red;
	border-bottom: 2px solid maroon;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 5px;
	width: 100px;
	outline: none;
	font-family: 'Lora', serif;
    clear: both;
}

.profile {
    width: 500px;
    display: inline-block;
    margin-left: 280px;
}

.filter_label {
    display: inline-block;
}

.coverphoto_container {
    width: 200px;
    height: 200px;
    margin-right: 5px;
}

.singleRecipe {
    width: 500px;
    height: 200px;
}

.bar{
    margin-top: 10px;
    width: 125px;
    height: 127px;
    overflow: inherit;
    text-align: center;
    font-size: 22px;
    display: inline-table;
    border: 1px solid #ccc;
}
.top{
    font-size: 14px;
    margin: 0;
}

.add_ingredients {
    width: 520px;
    float: left;
    margin-left: 260px;
}

.add_instructions {
    width: 476px;
    float: left;
    margin-left: 260px;
}

table, td, tr{
    border-collapse: collapse;
    
}
table{
    border: 1px solid #ccc; 
    margin-top: 10px;
    width: 500px;
    font-size: 20px;
}
td{
    padding: 5px 5px 5px 10px;
    border-bottom: 1px solid #ccc;
}
td:lastchild{
    border-bottom: none;
}
.adjust{
    margin-left: 270px;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    outline: none;
}
.mainTd{
    border-right: 1px solid #ccc;
    text-align: right;
    margin-right: 5px;
   
}
.bottomTable{
    border: none;
    width: 165px;
    font-size: 15px;
    margin-top: 30px;
    height: 60px;
}
.bottomTable > tr{
    border-left: none;
}
.bottomTable > td:firstchild{
    border-right:1px solid #ccc;
}
.tablerow:lastchild > td {
    border-bottom: none;
}
.steps{
    float: left;
    width: 335px;
}
h2{
    margin-top: 52px;
}
.personal{
    width: 500px;
   clear: both;
}
.edit{
    display: inline-flex;
    float: right;
}
.edit > button{
    width: 100px;
    height: 30px;
    background-color: #34373D;
    color: white;
    margin: 10px 0 0 5px;
}

.recipeName {
    opacity: 0;
    margin-top: -40px;

}

.recipeName:hover {
    opacity: 1;
    margin-top: -40px;
    color: black;
}
